@import url("https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&subset=latin-ext");
body {
  font-family: 'Lato', sans-serif; }

.h2-title {
  font-size: 3rem;
  font-weight: 300;
  text-align: center; }

.index .flex-container {
  height: 100vh; }
  .index .flex-container .button-container .uk-button {
    margin-bottom: 15px; }
    .index .flex-container .button-container .uk-button:last-child {
      margin-bottom: 0; }
  .index .flex-container .button-container .lobby-id-container {
    margin-top: 25px; }
    .index .flex-container .button-container .lobby-id-container #lobby-id-button {
      margin-top: 15px; }
